html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section {
  display: block;
}
body,
button,
input,
select,
textarea {
  font-size: 13px;
}
input,
select,
textarea {
  font-size: 100%;
}
img {
  border: 0;
}
/*iframe{display:block;}*/
ol,
ul,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
a:hover {
  text-decoration: underline;
}
ins,
a {
  text-decoration: none;
}